{
    "env": {
        "browser": true,
        "amd": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "globals": {
        "angular": true,
        "expect": true,
        "sinon": true,
        "module": true,
        "console": true,
        "doh": true
    },
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "brace-style": "error",
        "comma-dangle": ["error", "never"],
        "comma-style": ["error", "last"],
        "curly": ["error", "all"],
        "eol-last": "error",
        "eqeqeq": ["error", "smart"],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "key-spacing": ["error", { "afterColon": true }],
        "keyword-spacing": "error",
        "no-cond-assign": ["error", "except-parens"],
        "no-empty": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-trailing-spaces": "error",
        "no-undef": "error",
        "no-use-before-define": "error",
        "no-unused-expressions": ["error", { "allowTernary" : true, "allowShortCircuit": true}],
        "no-redeclare": "error",
        "no-with": "error",
        "quote-props": ["error", "as-needed", { "keywords": true }],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
        "space-infix-ops": "error",
        "space-in-parens": ["error", "never"],
        "space-return-throw-case": "off",
        "space-unary-ops": "off",
        "strict": "off"
    },
    "root": true
}
